body {
    font-family:Georgia, Arial;
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
ul {
    list-style:none;
}
nav ul {
    text-transform: uppercase;

}


.offpage {
    position: absolute;
    left: -1000px;
}
